.arrivials {
    margin-top: 120px;
    margin-bottom: 143px;
}
.arrivials__container{
    max-width: 1720px;
    margin:  0 auto;
}
.arrivials__header{
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px; /* 104.167% */
    letter-spacing: 2.88px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.arrivials__header::after{
    content: '';
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    width: 190px;
    height: 32px;
    background-image: url('../../images/arri1.png');
    background-repeat: no-repeat;
    
}
.arrivials__cards{
    display: flex;
    justify-content: space-between;
}